<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ post_url }}" class="post card text-themed" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>
    {%- if post_img -%}
    <img id="{{ post_id }}-img" class="card-img-top" src="{{ post_img }}" alt="{{ post_name }}" />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ post_id }}-name" class="card-title">
        {{ post_name }}
      </h5>
      <p id="{{ post_id }}-desc" class="card-text">{{ post_desc }}</p>
      <p id="{{ post_id }}-tools" class="card-text">
        {%- for tool in post_tags -%}
        <span class="badge rounded-pill text-primary border border-primary ms-1">{{ tool }}</span>
        {%- endfor -%}
      </p>
      <p class="card-footer {{ text_style }}">
      {{ post_date | date_to_long_string }}
      </p>
    </div>
  </a>
</div>